/* Write some CSS below */
h1{font-family: 'Pacifico', cursive;
	color: #006d77;
	font-size: 80px;}
h2{font-family: 'Raleway', sans-serif;
	color: #83c5be;
	font-size: 40px;}
p {font-family: 'Raleway', sans-serif;
	color: black;
	font-size: 20px;}
a {font-family: 'Raleway', sans-serif;
color: #edf6f9;
font-size: 26px;}

.banner {
	background-image: url('images/Socke.Kiwi.jpg');	
	background-size: cover;
	background-position: center;
	padding: 150px 0;
	text-align: center;
}

.banner h1{
	margin: 0 200px 400px 0;
	text-shadow: 2px 2px black;
}

.banner h2{
	text-shadow: 2px 2px black
}

.banner p {
	font-size: 26px;
	font-weight: bold;
	text-shadow: 2px 2px #83c5be;
}

.btn-green {
	background-color: #83c5be;
	padding: 16px 48px;
	border-radius: 4px;
	display: inline-block;
	text-decoration: none;
	box-shadow: 4px 4px lightgrey;
}

.container {
	padding: 20px 40px;
}

.card-rose {
	background-color: #ffddd2;
	padding: 10px;
	width: 400px;
	text-align: center;
	border-radius: 4px;
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}

.card-rose img {
	width: 380px;
	height: 350px;
	object-fit: cover;
	border-radius: 4px;
}

.footer {
	background-color: #83c5be;
	text-align: center;
	padding: 24px 0;
}

.footer p {
	font-weight: bolder;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 16px;
}

/* Cards media queries */
@media (max-width: 800px) {
  .card-rose {
    grid-template-columns: 1fr;
  }
  
  .card-rose {
    width: auto;
  }
}
  
/* Container media queries */
@media (min-width: 500px) {
  .container {
    width: 400px;
  }
}


@media (min-width: 800px) {
  .container {
    width: 600px;
  }
}

@media (min-width: 1000px) {
  .container {
    width: 800px;
  }
}